<!DOCTYPE html>
<html lang="en">
<head>
	<title>Translate</title>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class='container'>
		<h3>Translate your text</h3>
		<div class='row'>
			<div class='col'>
				Input your text:<br>
				<form method="POST" class="post-forum">{% csrf_token %}
					{{ form }}<br>
					<button type="submit" class="btn-default">Translate</button>
				</form>
			</div>
			<div class='col'>
				Result 1:<br>
				<textarea name='textarea' rows='10' cols='30'>{{ res1 }}</textarea><br>
				Result 2:<br>
				<textarea name='textarea' rows='10' cols='30'>{{ res2 }}</textarea><br>
			</div>
		</div>
	</div>
</body>
</hmtl>